<section>
    <div class="title my-3"><h2>Log</h2></div>
    <hr>

    <div class="m-3">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0" type="button">Search</button>
        </form>
    </div>

    <div class="log">
        <h4 class="entrie" (click)="moreDetails(2)"><i class="fas fa-dollar-sign mx-2"></i>[coincidence.entryDate] coincidence.message</h4> <!-- ?? *ngFor="let coincidence of log" -->
    </div>
</section>

<div class="detail" *ngIf="bandLogDetail">
    <h3>detail.entryCreator</h3>
    <hr>

    <h5><span>Date:</span> entry.entryDate</h5>
    <p>entry.message</p>
    <!-- !! si hay tiempo
    <img src="" alt=""> entry.evidence
    !! -->
    <hr>

    <button class="btn btn-danger btn-block" (click)="closeLogDetail()">Close</button>
</div>