<div class="container frame-size">
    <div class="row">
        <div class="col-6">
            <div class="my-3">
                <h2>Stack View</h2>
            </div>
            <hr>

            <input type="radio" id="tab1" name="tab-control" checked>
            <input type="radio" id="tab2" name="tab-control">
            <input type="radio" id="tab3" name="tab-control">
            <input type="radio" id="tab4" name="tab-control">
            <ul>
                <li title="Frontend"><label for="tab1" role="button"><i class="far fa-object-group"></i>
                    <br><span>Frontend</span></label></li>
                <li title="Backend"><label for="tab2" role="button"><i class="fas fa-server"></i>
                    <br><span>Backend</span></label></li>
                <li title="More"><label for="tab3" role="button"><i class="fas fa-database"></i>
                    <span>More requirements</span></label></li>
                <li title="Labels"><label for="tab4" role="button"><i class="fas fa-layer-group"></i>
                    <br><span>Arch labels</span></label></li>
            </ul>

            <div class="slider">
                <div class="indicator"></div>
            </div>
            <div class="content">
                <section>
                    <h2>Features</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem sequi, quo
                    tempore in eum obcaecati atque quibusdam officiis est dolorum minima deleniti ratione molestias
                    numquam. Voluptas voluptates quibusdam cum?
                </section>
                <section>
                    <h2>Delivery Contents</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut
                    voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet,
                    similique nulla.
                </section>
                <section>
                    <h2>Shipping</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam error
                    quisquam sunt voluptate labore, excepturi numquam! Alias libero optio sed harum debitis! Veniam,
                    quia in eum.
                </section>
                <section>
                    <h2>Returns</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dicta vero rerum? Eaque repudiandae
                    architecto libero reprehenderit aliquam magnam ratione quidem? Nobis doloribus molestiae enim
                    deserunt necessitatibus eaque quidem incidunt.
                </section>
            </div>
        </div>

        <div class="col-6">
            <div class="my-3">
                <h2>Stack design</h2>
            </div>
            <hr>


        </div>
    </div>
</div>