<div class="container frame-size">
    <div class="row">
        <div class="col-8">
            <div class="title my-3">
                <h2>Forum I</h2>
            </div>
            <hr>

            <div class="forum container p-3">
                <div class="forum-block"> <!-- ?? *ngFor="let forum of forums" -->
                    <div class="card">
                        <h2 class="card-header">forum.topic</h2>
                        <div class="card-body my-0 py-0">
                            <h3 class="card-title">forum.date</h3>
                            <h3 class="card-title">forum.name_creator</h3>
                            <hr>

                            <button class="btn btn-outline-dark btn-block mb-2" (click)="showChat()"><i class="fas fa-eye mx-2"></i>More details</button>
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    <button class="btn btn-dark btn-block" (click)="showCreateForm()">Add topic</button>
                </div>
            </div>
        </div>
        <app-log class="col-4"></app-log>
    </div>
</div>

<div class="create-form" *ngIf="bandFormCreate">
    <div class="row">
        <div class="form-group col-12">
            <label for="topic">TOPIC</label>
            <input type="text" class="form-control my-4" #topic placeholder="Write a title/topic">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-block btn-dark" >Create</button> <!-- ?? (click)="create(topic.value)" -->
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-block btn-danger" (click)="closeCreateForm()">Close</button>
        </div>
    </div>
</div>

<div class="chat" *ngIf="bandForumModal">
    <div class="container">
        <div class="box">
            <p  class="entry-text"> <!-- ?? *ngFor="let entry of entries" -->
                <i class="fas fa-user"></i>
                <span class="usr-entry mx-2">entry.usr_data.usrname</span>[entry.entryDate] : entry.message
            </p> <!-- ?? <i class="fas fa-user" *ngIf="entry.usr_data.role == 1"></i> -->
        </div>

        <div class="row my-3">
            <div class="col-9">
                <div class="form-group">
                    <input type="text" class="form-control" #mssg placeholder="Tell your idea...">
                </div>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-block btn-dark" >Send</button> <!-- ?? (click)="addEntry(mssg.value)" -->
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-block btn-danger" (click)="closeChat()">Close</button>
            </div>
        </div>
    </div>
</div>